body{
    margin:1%;
}

#paginone{
    width: 80%;
    left: 10%;
    position: relative;
    -webkit-box-shadow: 0px 0px 30px 3px rgba(49, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 30px 3px rgba(49, 50, 50, 0.8);
    box-shadow:         0px 0px 30px 3px rgba(49, 50, 50, 0.8);
    padding: 2%;
    min-height:80%;
}

#fixedSideMenu{
	width: 20%;
	padding-left: 1%;
	position: fixed;
	right:0;

	border-left-style: dotted;
	border-left-width: 1px;
	border-left-color: lightgrey;
	
}

#fixedSideMenuButton{
	display: none;
}

#fixedSideMenuButton:checked + label > img ~ #fixedSideMenuContent{
	display:block;
}

#fixedSideMenuContent{
	display:none;
}

#content{
    width:70%;
}

#upperBanner{
    width:100%
}

.center {        
    display:block;
    margin-left:auto;
    margin-right:auto;
}

ul {
	list-style: square inside none;
}

h1 {
	font-size: 30px;
	margin:0 auto;
	margin-bottom:10px;
}

h2 {
	font-size: 23px;
}

.postListLink{
	font-size: 13px;
}

.postListDate{
	font-size: 10px;
}