<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css" >
  </head>
  <body>
    <div id='upper-banner' style="width:100%;border:1px solid black;">
        <img src="{{ site.baseurl }}/images/banner.svg">
    </div>
    <div id='navbar'  style="position:fixed;right:10%;width:15%;border:1px solid black;">
        NAVIGATION MENU
        <ul>
            <li>elemnto 1</li>
            <li>elemnto 2</li>
            <li>elemnto 3</li>
            <li>elemnto 4</li>
        <ul>
    </div>
    <div id='content' style="position:absolute;left:10%;width:60%;border:1px solid black;">
    