<html>
  <head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
    <title>{{ page.title }}</title>
    <link href='font/arimo/Arimo-Regular.ttf' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css" >
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
  </head>
  <body>
    <div id = "paginone">
    <!--
        <div id='upper-banner'>
            <img class="center" src="{{ site.baseurl }}/images/banner.svg">
        </div>
	-->
    
