<input type="checkbox" id="fixedSideMenuButton" />
<label class="btn" for="fixedSideMenuButton"><img src="/images/icon_menu-circle_alt2.svg" id="btnMenu" /></label>

<ul id="fixedSideMenuContent" style="list-style: none;">
{% for post in site.posts %}

<li style="min-height:42px;">
    {% if post.thumbnail %}
	<img src="{{post.thumbnail}}" width="42" height="42" align="left">
    {% else %}
	<img src="/images/Right_arrow.svg" alt="a right arrow. Thanks wikipedia for the image." width="42" height="42" align="left" />
    {% endif %}
    <a href="{{ post.url }}" class="postListLink">{{ post.title }}</a> <br/>
    <div class="postListDate">{{ post.date | date: "%F" }}<div>
</li>

{% endfor %}
</ul>